*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
  scrollbar-color: #474747 #272727;
  scrollbar-width: thin;
}

body {
  background: #171717;
  color: #f1f1f1;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1 {
  font-size: 18px;
}


p {
  margin: 0;
  margin-block-end: 16px;
  font-size: 14px;
}

a {
  color: #f1f1f1;
  text-decoration: none;
}

li {
  list-style: none;
}

input,
textarea {
  border: none;
  border-radius: 2px;
}

/* ---------------------- Navbar -------------------- */
nav {
  text-transform: uppercase;
  display: flex;
  margin: 0 auto;
  max-width: 1080px;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.btn-menu-movil {
  font-size: 24px;
  background-color: transparent;
  color: white;
  border: none;
}

.btn-menu-movil:hover {
  cursor: pointer;
}

.menu-movil--contenedor {
  display: flex;
  justify-content: space-between;
  padding: 24px 48px 0 0;
  z-index: 11;
  background-color: #171717;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;


  .btn-menu-movil--cerrar {
    font-size: 24px;
  }

  .btn-menu-movil--cerrar:hover {
    cursor: pointer;
  }
}

.navbar.menu-movil {
  display: flex;
  gap: 16px;
  flex-direction: column;
  width: min-content;

  li {
    font-size: 36px;
    opacity: 1;
  }

}


.navbar li {
  opacity: 0.5;
  border-bottom: 2px solid transparent;
  transition: all 250ms ease-in;
}

.navbar li.selected {
  border-bottom: 2px solid white;
  opacity: 1;
}

.navbar li:hover {
  cursor: pointer;
}

.navbar {
  display: none;
}

@media (min-width: 644px) {
  .navbar {
    display: flex;
    gap: 24px;
    font-size: 14px;
  }

  .menu-movil--contenedor {
    display: none;
  }

  .btn-menu-movil,
  .navbar.menu-movil {
    display: none;
  }
}

main,
section {
  width: 100%;
  margin: 0 auto;
  padding: 0 6px;

  transition: all 300ms ease-in-out;
  transition-behavior: allow-discrete;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

.hero img {
  /* width: 100vw; */
  max-width: 100%;
  min-height: 250px;
  object-fit: cover;
}

@media (min-width: 644px) {

  main,
  section {
    margin-block: 48px;
    min-height: 55vh;
  }

  .hero {
    display: flex;
    width: min(100vw, 780px);
    height: max(auto, 650px);
    margin: 0 auto;
  }

}

/* ---------------- Comisiones --------------- */
.comisiones,
.contacto {
  margin: 0 auto;
  max-width: 870px;
}

.comisiones img,
.contacto img {
  display: block;
  margin: 0 auto;
  margin-block-end: 48px;
  max-width: 100%;
}

table {
  max-width: 100%;
  text-wrap: wrap;
  border-collapse: collapse;
  margin-block-start: 32px;
  margin-block-end: 18px;
}

table,
th,
td {
  border: 1px solid #f1f1f1;
  font-size: 12px;
  text-align: left;
}


th {
  background-color: #f1f1f1;
  color: black;
  padding: 6px;
  text-align: center;
}

td {
  padding: 4px;
}

@media (min-width: 644px) {

  table,
  th,
  td {
    font-size: 14px;
  }
}

/* ----------------- Contacto ----------------- */
@media(min-width: 644px) {
  .contacto-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}

.form,
.form-field {
  display: flex;
  flex-direction: column;
}

.form {
  margin-block: 22px;
}

.form-field {
  padding-block-end: 16px;
  flex-grow: 1;
}

.form-field input,
.form-field textarea {
  padding: 12px 8px;
}

.form-field label {
  font-size: 14px;

}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

@media (min-width: 644px) {
  .form-group {
    flex-direction: row;
  }
}

/* -------------------- Footer ------------------- */

footer {
  padding-block: 18px;
  margin: 0 auto;
  background-color: #171717;
}

@media (min-width: 644px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    max-width: 1080px;
    padding-block: 8px;
  }
}

.form-suscribirse {
  display: flex;
  flex-direction: column;
  gap: 18px;

  input {
    padding: 10px;
  }
}

.footer-left,
.footer-right {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;

}

.social-media-icons {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.btn {
  display: block;
  text-transform: uppercase;
  border: none;
  padding: 10px 12px;
  font-weight: bold;
  font-size: 12px;
}

.copyr {
  opacity: 0.7;
  font-size: 10px;
  padding-inline-start: 6px;
}


/* ------------------- Galeria ------------------ */
.galeria ul {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 0 auto;
  gap: 42px;
  padding: 24px 12px;
  flex-grow: 25%;

  li {
    position: relative;
    flex: 1;
  }

  li img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top;
    vertical-align: middle;
    opacity: 0.25;
    border-radius: 100%;
    transition: all 250ms ease-in-out;
  }

  li span {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    z-index: 10;

    animation-name: text-to-bottom-out;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }

  li:hover {
    cursor: pointer;
  }

  li:hover img {
    opacity: 0.8;
    scale: 1.05;
  }

  li:hover span {
    padding: 8px;
    font-size: 19px;
    animation-name: text-to-bottom-in;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
    opacity: 0.9;
  }
}

@media (min-width: 644px) {
  .galeria ul {
    flex-direction: row;
    padding-block: 48px;
    max-width: 920px;
    justify-content: space-evenly;
  }
}

#categorias-galeria li.selected span {
  padding: 8px;
  font-size: 19px;
  animation-name: text-to-bottom-in;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
  opacity: 0.9;
}

#categorias-galeria li.selected img {
  opacity: 0.8;
  scale: 1.05;
}

.galeria-grid {
  max-width: 1080px;
  margin: 56px auto;
  display: flex;
  flex-wrap: wrap;
  padding: 12px 4px;
  transition: all 150ms ease-in-out;
  transition-behavior: allow-discrete;
  opacity: 1;
  scale: 1;

  @starting-style {
    opacity: 0;
  }
}

.galeria-grid--columna {
  flex: 25%;
  max-height: 25%;
  padding: 0 4px;

  transition: all 200ms ease-in;
  transition-behavior: allow-discrete;
  opacity: 1;
  scale: 1;

  &:nth-of-type(2) {
    transition-delay: 150ms;
  }

  &:nth-of-type(3) {
    transition-delay: 250ms;
  }

  &:last-of-type {
    transition-delay: 350ms;
  }


  @starting-style {
    opacity: 0;
    scale: 0.8;
  }

  img {
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 2px;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .galeria-grid--columna {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 644px) {
  .galeria-grid--columna {
    flex: 100%;
    max-width: 100%;
  }
}

.galeria-grid img:hover {
  cursor: zoom-in;
}

.pantalla-grande--fondo {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #000000ee;
  top: 0;
  left: 0;
  z-index: 10;
  display: grid;
  place-content: center;

  transition: all 100ms ease-in;
  transition-behavior: allow-discrete;
  opacity: 1;
  scale: 1;

  @starting-style {
    opacity: 0;
    scale: 0.75;
  }
}

.pantalla-grande--insertables {
  background-color: aquamarine;
  height: 100%;

  img {
    display: block;
    margin: 0 auto;
    max-width: 96vw;
    position: relative;
  }
}

@media (min-width: 644px) {
  .pantalla-grande--insertables img {
    max-height: 96vh;
  }
}

.pantalla-grande--insertables__texto {
  background-color: #000000c8;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  padding: 6px 0 4px 4px;
  transition: all 250ms ease-in-out;
  transition-behavior: allow-discrete;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

.pantalla-grande--insertables__texto span {
  font-size: 10px;



  &:first-of-type {
    font-size: 14px;
  }
}

.pantalla-grande---contenedor {
  position: relative;
  margin: 2vh 0;
}

.pantalla-grande--icono {
  position: absolute;
  opacity: 0.5;
  transition: all 150ms ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    scale: 1.08;
  }
}

.pantalla-grande--icono__cerrar {
  top: min(-10%, -32px);
  right: 0;
}


@media (min-width: 644px) {
  .pantalla-grande--icono__cerrar {
    top: 2vh;
    right: -64px;
  }
}

/* ------------------- Animations ----------------- */
@keyframes text-to-bottom-in {
  from {
    top: 50%;
  }

  to {
    top: 100%;
  }
}

@keyframes text-to-bottom-out {
  from {
    top: 100%;
  }

  to {
    top: 50%;
  }
}

@keyframes border-bottom {
  from {
    border-bottom: 2px solid transparent;
  }

  to {
    border-bottom: 2px solid #f1f1f1;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-out {

  from {
    transform: translateX(0%);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
  }
}

/* Utils */
.hidden {
  display: none;
  opacity: 0;
  scale: 1;
}

.selected {
  font-weight: 500;
}

.note {
  font-size: 12px;
  opacity: 0.8;
}

.slide-in {
  animation-name: slide-in;
  animation-timing-function: ease-in;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}

.slide-out {
  animation-name: slide-out;
  animation-timing-function: ease-in;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}